<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="RabbitMQ.Client" />
			<package pattern="FluentAssertions" />
			<package pattern="System.Configuration.ConfigurationManager" />
			<package pattern="System.Security.Cryptography.ProtectedData" />
			<package pattern="Bogus" />
			<package pattern="Microsoft.AspNetCore.Mvc.Testing" />
			<package pattern="Microsoft.AspNetCore.TestHost" />
			<package pattern="Microsoft.Extensions.Configuration" />
			<package pattern="Microsoft.Extensions.Configuration.Abstractions" />
			<package pattern="Microsoft.Extensions.Configuration.Binder" />
			<package pattern="Microsoft.Extensions.Configuration.CommandLine" />
			<package pattern="Microsoft.Extensions.Configuration.EnvironmentVariables" />
			<package pattern="Microsoft.Extensions.Configuration.FileExtensions" />
			<package pattern="Microsoft.Extensions.Configuration.Json" />
			<package pattern="Microsoft.Extensions.Configuration.UserSecrets" />
			<package pattern="Microsoft.Extensions.DependencyInjection" />
			<package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
			<package pattern="Microsoft.Extensions.DependencyModel" />
			<package pattern="Microsoft.Extensions.FileProviders.Abstractions" />
			<package pattern="Microsoft.Extensions.FileProviders.Physical" />
			<package pattern="Microsoft.Extensions.FileSystemGlobbing" />
			<package pattern="Microsoft.Extensions.Hosting" />
			<package pattern="Microsoft.Extensions.Hosting.Abstractions" />
			<package pattern="Microsoft.Extensions.Logging" />
			<package pattern="Microsoft.Extensions.Logging.Abstractions" />
			<package pattern="Microsoft.Extensions.Logging.Configuration" />
			<package pattern="Microsoft.Extensions.Logging.Console" />
			<package pattern="Microsoft.Extensions.Logging.Debug" />
			<package pattern="Microsoft.Extensions.Logging.EventLog" />
			<package pattern="Microsoft.Extensions.Logging.EventSource" />
			<package pattern="Microsoft.Extensions.Options" />
			<package pattern="Microsoft.Extensions.Options.ConfigurationExtensions" />
			<package pattern="Microsoft.Extensions.Primitives" />
			<package pattern="System.Diagnostics.EventLog" />
			<package pattern="System.IO.Pipelines" />
			<package pattern="System.Text.Encodings.Web" />
			<package pattern="System.Text.Json" />
			<package pattern="Microsoft.EntityFrameworkCore.InMemory" />
		</packageSource>
	</packageSourceMapping>
</configuration>